/* Write your CSS here! */

#mainHeading {
    color: red;
}

body{
    margin: 8px;
    display: block;
    background-color: #0c4a37;
    padding: 100px;
    text-align: justify;
}

p {
    color: gray;
}

h2{
    color: white;
}

.subHeader {
    color: white;
    font-size: 150%;
}

.funParagraph {
    color: green;
}

ul{
    color: white;
}